# .coveragec to control coverage.py
[run]
branch = true
omit =
    # omit all test files
    */tests/*
    # omit documentation files
    docs/
    # omit license files
    LICENSES/
    # omit .idea director
    .idea/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Re-enable pragma's:
    pragma: no cover
    pragma: no branch

    # Do not complain if test do not hit defensive assertion code:
    raise NotImplementedError

    # Do not complain if non-runnable code is not run"
    if __name__ = .__main__.:
