# .coveragec to control coverage.py
[run]
branch = true
omit =
    # omit all test files
    */tests/*
    # omit documentaiton files
    docs/
    # omit license files
    LICENSES/
    # omit .idea director
    .idea/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ = .__main__.:
