/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
           this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }

/* Add coloring for red text */
.red {
    color:red;
}

/* Override RTD theme bottom margin for line blocks in a table */
.rst-content table.docutils td .line-block {
    margin-bottom: 0px
}

/* Override RTD theme bottom margin for code highlights in a table */
.rst-content table.docutils td div[class^='highlight'] {
    margin-bottom: 0px
}

/* Override RTD theme margin-left indent
   - the RTD theme behaves correctly locally but not on the RTD site
   - this override is to fix behavior of the RTD side
*/
.line-block {
    margin-left: 0px
}
.line-block .line-block {
    margin-left: $base-line-height
}

/*
.rst-content table td > ul {
    margin-bottom: 0px;
}
*/